* {
  box-sizing: border-box;
}
.App {
  margin:50px auto;
}
.buttonDiv {
  position:relative;
  border:1px solid black;
  position: relative;
  width:500px;
  margin:0 auto;
  height:50px;
  text-align: center
}
.button {
  position: absolute;
  transition: opacity 1s;
  transition-delay: 1s;
  display: block;
  font-size:20px;
  padding:10px 30px;
  border-radius: 10px;
  width:150px;
  left: calc(50% - 75px);
}

.show {
  visibility: visible;
  opacity: 1;
  margin:0 auto;
}
.hide {
  visibility: hidden;
  opacity: 0;
  
}

